---
import Layout from "../layouts/Layout.astro";
import Gradient from "../components/Gradient.astro";

const getLoginUrl = async() =>  {
	try {
		const response = await fetch("http://localhost:8000/auth/login",
		{
			method: 'GET',
		});
		
		const jsonResponse = await response.json();
		let loginUrl: URL = jsonResponse.data.login_url
		return loginUrl;
	} catch (error:unknown) {
		if (error instanceof Error) {
			return error.message
		}
	}
}

let loginUrl: string = await getLoginUrl() as string;
---

<Layout title="Mark Slide">
	<section>
		<h1 class="welcome-banner">Welcome to <Gradient text="Mark Slide"/></h1>
			<a href={loginUrl}>Login</a>
	</section>
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
	}
	.welcome-banner{
		padding-bottom: 2rem;
	}
</style>
